html, body{
    font-family: 'Lato', 'Noto Sans TC', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333333;
    background-color: #f6f7f8;
  }
  
  
  
  .cv {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  
  .cv-info {
    
    width: 25%;
    height: 100%;
    padding: 2%;
    background: #54728C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }


  .cv-data {   
    width: 70%;
    padding: 0 1%;
 
  }

  /* -----------------------------*/
  /*                              */
  /*  Adjust info section         */
  /*                              */
  /* -----------------------------*/

  
  .info-avatar {
    
    max-width: 60%;
    margin: 0 auto;
  }
  
  .info-avatar-image {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .name {
    text-align: center;
  }
  
  .social-media {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social-media-link {
    color: #0A1126; 
    text-decoration: none;
    margin:0 5px;
  }
  
  .social-media-link:hover {
    color: #AEF2F2;
  }
  
  .info-description {
    letter-spacing: 1px;
    font-size: 15px;

  }
  /* ----------- */
  
  h2 {
    font-size: 32px;
    margin: 1% 0 2%;
  }
  
  h3 {
    font-size: 21px;
    margin: 0 0 8px;
    font-weight: 500;
    
  }
  
  
  section {
    margin-bottom: 10px;
  }
  
  p {
   color: #666666; 
  }
  
  /* ----------- */
  
  


  /* -----------------------------*/
  /*                              */
  /*  Adjust skills section       */
  /*                              */
  /* -----------------------------*/

  .skill-section {


    width: 95%;
  }


  .skills {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .skill {
    max-width: 30%;  
  }
  
  .skill-name {
   
    height: 30%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .skill-description {
   
    height: 50%;
    padding: 0px 10px;
    border-top: 1px solid #999999;
  }
  
  

  /* -----------------------------*/
  /*                              */
  /*  Adjust experience section   */
  /*                              */
  /* -----------------------------*/

.experience-section {
  margin-top: 0px;
}

  .job, .company {
    color: #666666;
    font-size: 20px;
  }
  
  .fa-briefcase, .fa-building, .fa-calendar-alt {
    margin-right: 5px;
    font-size: 25px;
  }
  
  


  .job-info {
    max-width: 85%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between
  }
  
  .job-content {
    margin: 5px;
  }
  .experience-item {
    margin-bottom: 20px;
  }